.cart {
    position: sticky;
    top: 0;
}

.cart-time {
    height: 60px;
    border-radius: 8px;
    background-color: rgba(96, 71, 236, 0.1);
}

.cart-time h6 {
    color: #6047EC;
    margin: 0px;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 30px;
}

.cart-details {
    height: 800px;
    border-radius: 8px;
    padding: 20px;
    background-color: rgba(96, 71, 236, 0.1);
    margin-top: 10px;
}

.cart-details h4 {
    margin: 0px 0px 15px 0px;
}