.header-container {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container h2 {
    margin: 0px;
    font-size: 40px;
    color: #111111;
}

.hr {
    color: rgba(209, 204, 204, 0.6);
    margin-top: 20px;
    margin-bottom: 0px;
}